# build output
dist/
# generated types
.astro/
.vscode/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# configs and things
astro.config.mjs
package-lock.json
package.json
site.webmanifest
web-app-manifest-192x192.png
web-app-manifest-512x512.png
tsconfig.json
ASTRO_README.md