---
import Base from './layouts/base.astro';
import { BlueskyPost } from '@astro-community/astro-embed-bluesky';
---

	<Base title="reajamoon | Welcome">
		<h1>Hello World</h1>
		<p>This is my site. Etc. etc. etc.</p>
		<p> Oh this is kind of neat, <br>
		<BlueskyPost id="https://bsky.app/profile/reaja.bsky.social/post/3m3pyocenss2w" /></p>
	</Base>